# mvn
target/
logs/
.idea/
.settings/
.mvn/
.classpath
.project
.gradle/
nbactions.xml

# java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# external tool builders
.externalToolBuilders/

# locally stored "Eclipse launch configurations"
*.launch